@model ISA.Models.Entities.Airline

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AirlineName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AirlineName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd>
            @if (Model.Image != null)
            {
                var base64 = Convert.ToBase64String(Model.Image);
                var imgSrc = String.Format("data:image/png;base64,{0}", base64);
                <img src="@imgSrc" style="margin-bottom:13px; max-width:200px; max-height:200px" />
            }
        </dd>
    </dl>
    @await Component.InvokeAsync("Airplanes", new { airlineName = Model.AirlineName  } )
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AirlineName">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
