@model ISA.Models.Entities.Airline
@using ISA.Models.Entities
@inject ApplicationDbContext Context
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    var userId = "";

    if (User.Identity.IsAuthenticated)
    {
        userId = (await UserManager.GetUserAsync(User)).Id;
    }
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AirlineName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AirlineName)
        </dd>
        <dt>
            Score
        </dt>
        <dd>
            @Html.Raw(ViewBag.Score)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd>
            @if (Model.Image != null)
            {
                var base64 = Convert.ToBase64String(Model.Image);
                var imgSrc = String.Format("data:image/png;base64,{0}", base64);
                <img src="@imgSrc" style="margin-bottom:13px; max-width:200px; max-height:200px" />
            }
        </dd>
    </dl>
    @if (User.Identity.IsAuthenticated && ((User.IsInRole("AirAdmin") && Context.Administration.Any(a => a.ApplicationUserId == userId && a.Provider == Model.Provider)) || User.IsInRole("SysAdmin")))
    {
    @await Component.InvokeAsync("Destinations", new { airlineName = Model.AirlineName })
    @await Component.InvokeAsync("Airplanes", new { airlineName = Model.AirlineName })
    }
    @await Component.InvokeAsync("Flights", new { airlineName = Model.AirlineName })
    @await Component.InvokeAsync("SeatDiscounts", new { airlineName = Model.AirlineName })
</div>
<div>
    @if (User.Identity.IsAuthenticated && ((User.IsInRole("AirAdmin") && Context.Administration.Any(a => a.ApplicationUserId == userId && a.Provider == Model.Provider)) || User.IsInRole("SysAdmin")))
    {
        <a asp-action="Edit" asp-route-id="@Model.AirlineName">Edit</a>
    }
</div>
